html {
	scroll-behavior: smooth;
}

* {
	box-sizing: border-box;
	margin: 0;
}

body {
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

p {
	opacity: 0.4;
	line-height: 1.6rem;
}

img {
	border-radius: 40px;
}

a {
	text-decoration: none;
	color: var(--accent3);
}

:root {
	--accent1: rgb(41, 220, 169);
	--accent2: rgb(197, 74, 164);
	--accent3: rgb(57, 59, 60);
	--spacing: 30px;
	--spacing-sm: 15px;
}

.mx {
	margin-right: var(--spacing);
	margin-left: var(--spacing);
}

.px {
	padding-right: var(--spacing);
	padding-left: var(--spacing);
}

.my {
	margin-top: var(--spacing);
	margin-bottom: var(--spacing);
}

.py {
	padding-top: var(--spacing);
	padding-bottom: var(--spacing);
}

.mx-sm {
	margin-right: var(--spacing-sm);
	margin-left: var(--spacing-sm);
}

.px-sm {
	padding-right: var(--spacing-sm);
	padding-left: var(--spacing-sm);
}

.my-sm {
	margin-top: var(--spacing-sm);
	margin-bottom: var(--spading-sm);
}

.py-sm {
	padding-top: var(--spacing-sm);
	padding-bottom: var(--spacing-sm);
}

.header {
	width: 100%;
	height: 50px;
	background-color: #f3f3f3;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 30px;
}

.menu {
	display: flex
}

.menu div {
	margin-right: 10px
}

.menu div:last-child {
	margin-right: 0;
}

.hero {
	width: 100%;
	display: flex;
}

.hero-inner {
	display: flex;
	align-items: center;
}


button {
	border: 0;
	padding-left: 30px;
	padding-right: 30px;
	padding-top: 15px;
	padding-bottom: 15px;
	border-radius: 500px;
	text-align: center;
	background-color: var(--accent1);
	color: #fff;
	font-weight: bold;
	text-transform: uppercase;
}

.information {}

.information-inner {
	display: flex;
	justify-content: space-between;
}

.info-container {
	border: 1px solid #eaeaea;
	height: 300px;
	width: 100%;
	border-radius: 20px;
	margin-right: 20px;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: var(--accent3);
	overflow: hidden;
}

.info-container:last-child {
	margin-right: 0;
	position: relative;
	display: flex; 
	align-items: center;
}

.info-1 {
	background-image: url(/images/about.jpg);
}

.info-2 {
	background-image: url(/images/projects.jpg);
}

.info-3 {
	background-image: url(/images/blog.jpg);
}

.info-4 {
	background-image: url(/images/contact.jpg);
}

.info-img {
	filter: saturate(0);
	width: 100%;
	height: 100%;
	opacity: 0.3;
	background-position: center;
}

.info-img:hover {
	filter: saturate(1);
	opacity: 0.6;
}

.info-text {
	font-size: 20px;
	font-weight: bold;
	position: absolute;
	width: 100%;
	pointer-events: none;

}

.quote {
	background-color: var(--accent1);
	color: #fff;
	text-align: center;
}

.contact-inner {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: var(--accent3);
	color: #fff;
	border-radius: 20px;
}

/* Responsive */

@media only screen and (max-width: 990px) {
  .hero-inner {
		flex-direction:column
	}

	img {
		width: 100%;
		margin-top: 30px;
		margin-bottom: 30px;
	}

	div {
		text-align: center;
	}

	.information-inner {
		display: flex;
		justify-content: space-between;
		flex-direction: column;
	}

	.info-container {
		margin-top: 10px;
	}

	.hero-inner {
		margin-bottom: 0;
		padding-bottom: 0;
	}
}

@media only screen and (max-width: 990px) {
	.contact-inner {
		flex-direction: column;
	}

	.contact-inner button {
		margin-top: 30px
	}

}